@import url('https://imp1.github.io/mir-wiki/_styles/global.css');

html, body {
    margin: 0;
    padding: 0;
    background-color: #444;
    color: #ccc;
}

body > header {
    border-top: 0.5rem solid #ccc;
    margin-top: 3rem;
}

aside.details {
    color: #ccc;
}

a, a:link, a:visited {
    color: #40a4f1;
}
a:hover, a:active {
    color: #f00000;
}
