@import url('https://imp1.github.io/mir-wiki/_styles/global.css');

html, body {
    margin: 0;
    padding: 0;
    background-color: #444;
    color: #ccc;
}

body > header {
    border-top: 0.5rem solid #ccc;
    margin-top: 3rem;
}

aside.details {
    color: #ccc;
}

a, a:link, a:visited,
footer nav a, footer nav a:link, footer nav a:visited {
    text-decoration: none;
    color: #40a4f1;
    border-bottom: 1px solid #40a4f1;
}
a:hover, a:active,
footer nav a:hover, footer nav a:active {
    text-decoration: none;
    color: #f00000;
    border-bottom: 1px solid #f00000;
}
