html, body {
    margin: 0;
    padding: 0;
    background-color: #444;
    color: #ccc;
}

body > header {
    border-top: 0.5rem solid #ccc;
    margin-top: 3rem;
}

aside.details {
    color: #ccc;
}