@import url('https://fonts.googleapis.com/css?family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');

article.text h1, 
article.text h2,
article.text .subtitle {
    text-align: center;
}

/*
    Royal Ridgeback Texts
*/

article.text.royal {
    font-family: 'Satisfy', cursive;
    font-size: 1rem;
}

article.text.royal h1,
article.text.royal h2 {
    font-family: 'Tangerine', cursive;
}

article.text.royal .subtitle {
    font-size: 1.4rem;
}
article.text.royal h1 {
    font-size: 3rem;
}
article.text.royal h2 {
    font-size: 2rem;
}
article.text.royal h3 {
    font-size: 1.4rem;
}

article.text.royal h1::before,
article.text.royal h1::after {
    content: '~';
}