html, body {
    margin: 0;
    padding: 0;
    background-color: #ccc;
    color: #444;
}

body > header {
    border-top: 0.5rem solid black;
    margin-top: 3rem;
}

aside.details {
    color: #444;
}

a:link {
    color: #0064c1;
}
a:hover {
    color: #f00000;
}
a:active {
    color: #f00000;
}
a:visited {
    color: #0064c1;
}