@import url('https://imp1.github.io/mir-wiki/_styles/global.css');

html, body {
    margin: 0;
    padding: 0;
    background-color: #eee;
    color: #222;
}

body > header {
    border-top: 0.5rem solid #222;
    margin-top: 3rem;
}

aside.details {
    color: #222;
}

a, a:link, a:visited {
    text-decoration: none;
    color: #0064c1;
    border-bottom: 1px solid #0064c1;
}
a:hover, a:active {
    text-decoration: none;
    color: #f00000;
    border-bottom: 1px solid #f00000;
}
